useDynLib(fastPLS, .registration=TRUE)

importFrom("Rcpp", "evalCpp")
importFrom("stats", "median", "pnorm", "predict", "quantile", "rnorm", "sd", "var")
importFrom("methods", "is")
import(Matrix)

export(evaluate,fastcor,fastPLS_backend,fastsvd,has_cuda,has_metal,pls,pls.double.cv,pls.single.cv,plot.permutation,ViP)


S3method(predict,fastPLS)
S3method(predict,fastPLSKernel)
S3method(predict,fastPLSOpls)
S3method(plot,fastPLS)
S3method(print,fastPLS)
